API_ID=20064905
API_HASH=1d7b8bc02a512bfbf2014bd7d5b7eff2
BOT_TOKEN=7328867796:AAGsdKH9eZ8wkcqiPm9G-fYEz2mFqtqMy6g
LOGGER_ID=-1002136795173
MONGO_DB_URI=mongodb+srv://Vicky123:Vicky123@cluster0.qznmdso.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=7001982096
STRING_SESSION=BQEyKokANQKnxns1_iYWN0IY1eQvb94lbcnBuUSfZjfhtLEr67RSqCvuttJ0p8UWSenEQEYMOuVlkm3BBzFyKqJ6ATJucckZLxUwORFK53G-cPJuHu2IJqlHAN_Zx70JpqAFCAwnR4NoFTJ3VP4XEZLY_93tNzPIgCQBsq8n7KRjsPJhPttihTLgFetvoVx2Ly1nHqNWcRS5fQvMdemFKHF0o-CVk_PvTLa2O2tU9xMy_5YznYzn_ONXZLFPEwjGkgzXbSFxtkcnSzvyW7VIqpKekf9Obtc37xoAy8klG7axZh9HzjhNP2UTPLKLCEDjlWrDtWdaLyQfRkRCnPYDGtjvC_nAAAAAGUZPvYAA
